--find-links=https://github.com/girder/large_image_wheels/raw/wheelhouse/GDAL-3.8.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
geemap
geopandas
geopy
jupyter-server-proxy
keplergl
leafmap
localtileserver
nbserverproxy
rasterio
scipy
streamlit
streamlit-option-menu
